# Introducción a python.

## Ayuda

In [1]:
str?

## Variables

**Asignación** le decimos a la computadora que la variable `x` tiene *asignado* el valor `1`.

In [2]:
x = 1

In [3]:
x

1

In [4]:
print(x)

1

In [5]:
a, b = 3, 4
print("El valor de a es ", a)
print("El valor de b es ", b)

El valor de a es  3
El valor de b es  4

Los **tipos** de variables "básicos" son los siguientes:

**Enteros**

In [6]:
x = 3
x

3

**Flotantes**

In [7]:
y = 3.5
y

3.5

**Números Complejos**  de la forma $a + b\iota$

In [8]:
z = 3 + 5j
z

(3+5j)

**Booleanos**

In [9]:
a = True
a

True

Python también soporta **notación científica**

In [10]:
x = 1.2e34
x

1.2e+34

In [11]:
x = 1e-12 + 3.56e4j
x

(1e-12+35600j)


Nota como cambiamos tres veces el tipo y el valor de la variable `x`, el hecho de *que se pueda* hacer no implica **que debas de hacerlo**, se considera como una pésima práctica de programación...

**Cadenas de texto**

In [14]:
cadena = "Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!"
cadena

'Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿?¡!'

In [22]:
cadena.upper()

'ESTO ES UNA CADENA DE TEXTO CON ACENTOS Y OTROS SÍMBOLOS UTF-8 ¿?¡!'

**Ejercicio**
Usa la ayuda en línea de ipython e investiga como:
- Capitalizarla.
- Convertirla a minúsculas.
- Convertir a mayúsculas.
- Eliminar los espacios.
de la cadena "Anita lava la tina". Aplica las cuatro operaciones una tras otra.

Es posible ser explícito en la asignación del tipo de la variable

In [24]:
x = int(2)
y = float(3)
z = complex(1+2j)
a = str("Hola")

In [29]:
print(x, y, z, a)

2.1 3.0 (1+2j) Hola

## Operaciones

In [32]:
x = 3
y = 2

In [47]:
x+y

(7+3j)

In [48]:
x-y

(-1-3j)

In [49]:
x*y

(12+9j)

In [50]:
x**y

(-80.03836209851747-12.44429960209101j)

In [51]:
x/y

(0.48-0.36j)

In [52]:
y%x

TypeError: can't mod complex numbers.

**Ejercicio:**

Repite las operaciones pero ahora usa el siguiente valor (y tipo) de `y`.

¿Qué sucede? ¿Cuál es el tipo del valor de salida?

In [39]:
y=4.1

**Ejercicio:**

Repite las operaciones pero ahora usa el valor (y tipo) de `y`.

¿Qué sucede? ¿Cuál es el tipo de valor de salida?

In [46]:
y = 4 + 3j

**Ejercicio:**

¿Qué pasa en lo siguiente?

In [53]:
a = 3
b = "hola"

In [54]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
str(a) + b

'3hola'

In [56]:
b+b

'holahola'

In [57]:
a*b

'holaholahola'

In [58]:
a, b, c = 1.0, 2.0, 3.0
print(a,b,c)

1.0 2.0 3.0

In [59]:
a + b/c

1.6666666666666665

In [60]:
(a+b)/c

1.0

In [61]:
x= 0
x += 1
print(x)

1

In [62]:
x -= 2
print(x)

-1

In [63]:
x *= 3.14
print(x)

-3.14

In [64]:
x /= 5*a
print(x)

-0.628

In [66]:
if x > 3.1:
    print("Esto no se debería de imprimir")
    print("Nota que es muy peligroso hacer esto con flotantes...")

In [67]:
x = 5

In [68]:
if x > 3:
    print("Esto SI se debería de imprimir")

Esto SI se debería de imprimir

Los siguientes operadores lógicos se pueden utilizar

In [69]:
x == 1

False

In [70]:
x > 1

True

In [71]:
x < 1

False

In [72]:
x >= 1

True

In [73]:
x != 1

True

In [80]:
x > 10 or x <= 5

True

In [83]:
x > 10 and x <= 5

False

In [76]:
print(x)

5

In [84]:
if x >= 5 and x < 10:
    print("¡Hola!")
else:
    print("Nunca me verás")

¡Hola!

## Bucles

In [85]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [89]:
for x in "Hola Como estás?":
    print(x)

H
o
l
a

C
o
m
o

e
s
t
á
s
?

El que sigue no es el mejor ejemplo de un uso de `while`, pero es con fines ilustrativos

In [92]:
i = 1
while i > 0 and i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [99]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

**Ejercicio:**

Calcula el valor de la suma $\sum^{1000}_{k=1} \left(\frac{1}{k}\right)^2$.

In [102]:
x = 0
for i in range(1,10001):
    x+=1/i**2
print(x)

1.6448340718480652

In [103]:
a_list = [1, 2, 3, 4, 5]
a_list

[1, 2, 3, 4, 5]

In [104]:
another_list = [1, 1.3, 4.5, 2+1j, [1,2]]
another_list

[1, 1.3, 4.5, (2+1j), [1, 2]]

In [105]:
a_list[3]

4

In [106]:
another_list[3]

(2+1j)

In [107]:
another_list[4]

[1, 2]

In [111]:
a_list[-1]

5

In [112]:
a_list[1:]

[2, 3, 4, 5]

In [113]:
a_list[2:4]

[3, 4]

In [114]:
a_list[:4]

[1, 2, 3, 4]

In [115]:
n=5
a_list.append(n)

In [116]:
a_list

[1, 2, 3, 4, 5, 5]

In [117]:
a_list.pop()

5

In [118]:
a_list

[1, 2, 3, 4, 5]

In [119]:
a_list.append(3)
a_list[1] = 3
a_list.append(5)

In [121]:
a_list.remove?

In [122]:
a_list.remove(3)

In [123]:
a_list

[1, 3, 4, 5, 3, 5]

In [124]:
for element in a_list:
    print(element)

1
3
4
5
3
5

In [125]:
for r in range(5):
    print(r)

0
1
2
3
4

### *List comprehensions*

En matemáticas, es normal describir las listas (siendo estrictos conjuntos) de la siguente  manera:

- $S = \{x^²\ |\  x\  en\  \{0 \ldots 9\}\}$
- $V = (1, 2, 4, 8, \ldots, 2^{12})$
- $M = \{x\  |\ x\  en\  S\  y\  x\  es\  impar\}$

In [127]:
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x%2 == 0]
print(S)
print(V)
print(M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

In [130]:
sum([1/i**2 for i in range(1,1001)])

1.6439345666815615

Las *list comprehensions* pueden ser utilizadas también con cadenas:

In [131]:
palabras = 'Anita lava la tina'.split()
print(palabras)
transformacion = [[w.upper(), w.lower(), len(w)] for w in palabras]
for t in transformacion:
    print(t)

['Anita', 'lava', 'la', 'tina']
['ANITA', 'anita', 5]
['LAVA', 'lava', 4]
['LA', 'la', 2]
['TINA', 'tina', 4]

In [132]:
transformacion

[['ANITA', 'anita', 5],
 ['LAVA', 'lava', 4],
 ['LA', 'la', 2],
 ['TINA', 'tina', 4]]

Es posible usar varios `for` en una expresión, el siguiente bloque muestra los tripletes *pitagóricos* (aquellos $a,b$ y $c$ que cumplen con $a^2 + b^2 = c^2$)

In [133]:
n = 25
[(x, y, z) for x in range(1, n) for y in range(x, n) for z in range(y, n) if x*x + y*y == z*z]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

## Diccionarios

Los diccionarios o *mapas* son otra estructura de datos importante en python

In [143]:
diccionario = {'a':1, 'b':2, 'coral': 'amarillo'}
diccionario

{'a': 1, 'b': 2, 'coral': 'amarillo'}

In [136]:
diccionario['a']

1

In [137]:
diccionario['coral']

'amarillo'

**Ejercicio**
Usando la ayuda de python responde:
- ¿Cómo puedo agregar elementos a un diccionario?
- ¿Cómo puedo eliminar elementos a un diccionario?
- ¿Cómo cambia el método `pop` respecto a la listas?
- ¿Cómo puedo iterar en un diccionario?

## Funciones

**Principio DRY**: * Don't repeat yourself*

In [159]:
from math import sqrt, atan
def polar(x,y):
    """
    x, y son un par ordenado
    """
    r = sqrt(x**2 + y**2)
    theta = atan(y/x)
    return r, theta

In [160]:
polar?

In [161]:
polar??

In [147]:
r, theta = polar(3,4)
print("La coordenada r es: " , r)
print("El ángulo theta es: ", theta)

La coordenada r es:  5.0
El ángulo theta es:  0.9272952180016122

### Función Lamba

sirven para crear funciones anónimas. Una función anónima, como su nombre indica es una función sin nombre. Una función en su sentido más trivial significa realizar algo sobre algo. mientras las funciones anónimas lambda sirven para realizar funciones simples, las funciones definidas con def sirven para manejar tareas más extensas.

In [1]:
def doblar(num):
    resultado = num*2
    return resultado

doblar(2)

4

In [4]:
def doblar(num):
    return num*2

doblar(2)

4

In [5]:
def doblar(num): return num*2

doblar(2)

4

In [6]:
lambda num: num*2

Aquí tenemos una función anónima con una entrada que recibe num, y una salida que devuelve num * 2.

Lo único que necesitamos hacer para utilizarla es guardarla en una variable y utilizarla tal como haríamos con una función normal:

In [8]:
doblar = lambda num: num*2

doblar(2)

4